
body{
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.calculater{
  background-color: black;
    width: 70vw;
    padding: 4%;
   height: 80vh;  
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
       border: 3px solid rgb(108, 106, 106);
     border-radius: 8px;
     box-shadow: 3px 3px 5px ;
}
.screen{
  color: black;
  display: flex;
   justify-content: flex-end; 
   align-items: center;
   overflow: hidden;
 padding: 2%;
  font-weight:bold;
  font-size: 40px;
    background-color: rgb(193, 190, 190);
    width: 100%;
    height: 12vh;
       border: 2px solid ;
     border-radius: 5px;
}

.buttons{
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100vw;
    height: 50vh;
} 
.buttons button{
  background: gray;
  color: black;
  border-radius: 3px;
  border: 4px solid;
  font-weight: bold;
  font-size:large;
  transition: all 0.1s ease
}

.buttons button:hover{
  filter: brightness(1.05);
}

.buttons button:active{
  transform: translateY(6px);
}
