
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(249, 249, 249);
}
.calculater{
  display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
}
.screen{
  color: black;
  display: flex;
   justify-content: flex-end; 
   align-items: center;
   overflow: hidden;
  font-weight:bold;
  font-size: 4rem;
    width: 100%;
    height: 25vh; 
    padding: 5px;
}
.buttons{
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    height: 68vh;
     padding: 4px;
} 
.buttons button{
  background: black;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  font-size:1.5rem;
}
.buttons button:active{
  background-color: gray;
}


